
.vs/pons_api/v16/.suo
pons_api/obj/Debug/DesignTimeResolveAssemblyReferences.cache
pons_api/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
pons_api/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
pons_api/obj/Debug/pons_api_MarkupCompile.cache
pons_api/obj/Debug/pons_api_MarkupCompile.lref
pons_api/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
pons_api/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
packages/Newtonsoft.Json.13.0.3/.signature.p7s
